/* 整个页面大框架*/
#Main{
	width:1000px;
	margin:0 auto;
	/*background-color:#f00;*/
}


/*SHOP 商店*/
#Shop-title{
	height:47px;
	background-image:url("../img/2.png");
	background-position:center -532px;
	background-repeat:no-repeat;
	margin:40px 40px;
}
/* 全场包邮*/
#Shop-title .postage{
	display:block;
	height:40px;
	width:188px;
	background-image:url("../img/2.png");
	background-position:0 -739px;
}

/* Banner尺寸 */
#Banner{
	width:1000px;
	height:475px;
	overflow:hidden;
}
/* Banner 图片的尺寸 */
#Banner img{
	width: 1000px;
}







/* 联系客服 */
#Service{
	width:90px;
	height:30px;
	background-color:#5b799a;
	border-radius:4px;	
	/* position:fixed;
	right:14px;
	bottom:0; */
}

#Service .img{
	width:30px;
	height:30px;
	background-size:30px;
	background-image:url("../img/service.png");
	background-position:-7px center;
	background-repeat:no-repeat;
	float:left;	
	margin-left:4px;
}
#Service .text{
	font-size:14px;
	color:#fff;
	line-height:30px;
	float:left;
}