/* 整个页面大框架*/
#Main{
	width:1000px;
	margin:0 auto;
	/*background-color:#f00;*/
}


/*SHOP 商店*/
#Shop-title{
	height:47px;
	background-image:url("../img/2.png");
	background-position:center -532px;
	background-repeat:no-repeat;
	margin:40px 40px;
}
/* 全场包邮*/
#Shop-title .postage{
	display:block;
	height:40px;
	width:188px;
	background-image:url("../img/2.png");
	background-position:0 -739px;
}

/* Banner尺寸 */
#Banner{
	width:1000px;
	height:475px;
	overflow:hidden;
}
/* Banner 图片的尺寸 */
#Banner img{
	width: 1000px;
}


/* 产品的种类名字 宽高居中*/
#Cls{
	width: 1000px;
	height: 139px;
	margin:5px 0 10px 0;
}
/* 产品所占的尺寸*/
#Cls .cls{
	width: 840px;
	height: 139px;
}
/* 把字体浮动 下边框 定位 排列好 */
#Cls .cls li{
	float:left;
	display:block;
	position:relative;
	font-size:14px;
	height:25px;
	border-bottom:1px solid #ededed;
	padding:6px 20px 5px 0;
	margin:10px 0 -1px 0;
	text-align:center;
	vertical-align:middle;
}
/* 去除左后一条Li的边框 */
#Cls .last{
	border-style:none;
}

/* 设置字体颜色 居中 */
#Cls li a{
	width: 64px;
	color:#000;
	text-align:center;
	display:block;
	height:24px;
	line-height:24px;
}
#Cls ul{
	border-bottom:1px solid #ededed;
	float:left;
}
/* 右边的价格下拉菜单 */
#Cls .price{
	width: 160px;
	height: 37px;
	border-bottom:1px solid #ededed;
	position:relative;
	cursor:pointer;
	float:right;
	font-size:14px;
	margin-top:9px;
}
/* 价格下拉菜单右边的三角形 */
#Cls .box{
	width: 12px;
	height: 20px;
	background-color:#fafdfe;
	float:right;	
	margin-top:10px;
}
#Cls .box .angle{
	width:0;
	height:2px;
	border-color:#000 #fafdfe #fafdfe #fafdfe;
	border-style:solid;
	border-width:6px;
	margin-top:5px;
}
/* 价格筛选字体  */
#Cls .price .text{
	display:block;
	float:right;
	margin-right:2px;
	line-height:37px;
}
/* 价格 */
#Cls .select-price{
	display:none;
	width: 95px;
	position: absolute;
	right: 0;
	top:36px;
	border: 1px solid #efedeb;
}
/* 设置价格下拉菜单边框  */
#Cls .select-price li{
	border-bottom:1px solid #efedeb;
}
/* 设置下拉下单字体 */
#Cls .select-price a{
	display:block;
	width: 75px;	
	height: 39px;
	line-height:39px;
	text-align:center;
} 
/* 设置第一条 “全部” 的 背景 和字体颜色 */
#Cls .select-price .all{
	background-color:#333434;
}
/*  设置其他的字体颜色 */
#Cls .all a{
	color:#fff;
}

/* 具体的产品 四排*/
#ShopList1,#ShopList2,#ShopList3,#ShopList4{
	width: 1000px;
	height: 490px;
	margin:10px 0;
	background-color:#00f;
	margin-top:20px;
	position:relative;
}
/* 第一排 */
/* 设置第一排 第一张图片的大小 */
#ShopList1 .item1{
	width: 490px;
	height: 490px;
	background-color:#f00;
	float:left;	
}
/* 设置图片的 第一排 后面四张图片大小 */
#ShopList1 .item2,#ShopList1 .item3,#ShopList1 .item4,#ShopList1 .item5{
	width: 235px;
	height: 235px;
	float:left;
	margin-left:20px;
}
/* 设置每张图片的间隙 */
#ShopList1 .item4,#ShopList1 .item5{
	margin-top:20px;
}
/* 设置图片尺寸 #Sh*/
#ShopList1 img,#ShopList2 img{
	width: 235px;
	height: 235px;
}
#ShopList1 .first,#ShopList2 .first{
	width: 490px;
	height: 490px;
}

/* 第二排 */
#ShopList2 .item1,#ShopList2 .item2,#ShopList2 .item3,#ShopList2 .item4{
	width: 235px;
	height: 235px;
	background-color:#f00;
	position:relative;
	position:absolute;
}
#ShopList2 .item5{
	width: 490px;
	height: 490px;
	background-color:#f00;
	position:absolute;
	right:0;
	top:0;
}
#ShopList2 .item1{
	top:0;
}
#ShopList2 .item2{
	left:255px;
	top:0;
}
#ShopList2 .item3{
	left:0;
	bottom:0;	
}
#ShopList2 .item4{
	left:255px;
	bottom:0;	
}

/* 第三排 */

/* 设置第三排 第一张图片的大小 */
#ShopList3 .item1{
	width: 490px;
	height: 490px;
	background-color:#f00;
	float:left;	
}
/* 设置图片的 第一排 后面四张图片大小 */
#ShopList3 .item2,#ShopList3 .item3,#ShopList3 .item4,#ShopList3 .item5{
	width: 235px;
	height: 235px;
	float:left;
	margin-left:20px;
}
/* 设置每张图片的间隙 */
#ShopList3 .item4,#ShopList3 .item5{
	margin-top:20px;
}
/* 设置图片尺寸 #Sh*/
#ShopList3 img,#ShopList3 img{
	width: 235px;
	height: 235px;
}
#ShopList3 .first,#ShopList2 .first{
	width: 490px;
	height: 490px;
}







/* 第五排 */













/* 联系客服 */
#Service{
	width:90px;
	height:30px;
	background-color:#5b799a;
	border-radius:4px;	
	/* position:fixed;
	right:14px;
	bottom:0; */
}

#Service .img{
	width:30px;
	height:30px;
	background-size:30px;
	background-image:url("../img/service.png");
	background-position:-7px center;
	background-repeat:no-repeat;
	float:left;	
	margin-left:4px;
}
#Service .text{
	font-size:14px;
	color:#fff;
	line-height:30px;
	float:left;
}